@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './fonts';
@import './global';
@import './link-primary';
@import './flat-breaks';
@import './remove-autocomplete-styles';
@import './slick';

@import './checkbox.css';
