@layer components {
  .swiper-slider {
    & .swiper-slide {
      @apply !flex h-auto;

      & > div {
        @apply h-full w-full py-4 lg:px-4 md:px-2.5 px-4;
      }
    }

    & .swiper-wrapper {
      @apply flex;
    }

    & .swiper-pagination {
      @apply -bottom-7 justify-center !flex;

      & .swiper-pagination-bullet {
        @apply flex h-5 w-5 items-center justify-center mx-0;

        &::before {
          @apply content-[''] absolute left-1/2 top-1/2 h-2 w-2 shrink-0 -translate-x-1/2 -translate-y-1/2 rounded-full border border-gray-500/50 text-[0px] opacity-100;
        }
      }

      & .swiper-pagination-bullet-active::before {
        @apply border-none bg-primary-1 opacity-100;
      }
    }
  }
}
